@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-MdAT2EcXuYl7B3: 1140px;
  --plasmic-token-content-max-width: var(--token-MdAT2EcXuYl7B3);
  --token-EAArFgEufoUBI5: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-EAArFgEufoUBI5);
  --token-GfPTqb88XTO8F-: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-GfPTqb88XTO8F-);
  --token-R-siJ92JcX5KdL: #92959bd9;
  --plasmic-token-light-label: var(--token-R-siJ92JcX5KdL);
  --token-PkqG5XffAYGCua: #05050599;
  --plasmic-token-light-secondary: var(--token-PkqG5XffAYGCua);
  --token-bjRntVjwhqiIn4: #007aff;
  --plasmic-token-light-blue: var(--token-bjRntVjwhqiIn4);
  --token-64uoDtOV4aoQTC: #ff3b30;
  --plasmic-token-light-red: var(--token-64uoDtOV4aoQTC);
  --token-xihdHvF8jnhyjx: #ffffff;
  --plasmic-token-white: var(--token-xihdHvF8jnhyjx);
  --token-L3K2NwlVFc652o: #ffffffd9;
  --plasmic-token-dark-label: var(--token-L3K2NwlVFc652o);
  --token-PFfoNsHnfc7jtW: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-PFfoNsHnfc7jtW);
  --token-UmiecSCeY3B89x: #0000001a;
  --plasmic-token-light-quarternary: var(--token-UmiecSCeY3B89x);
  --token-Y7XJ0TZMyqgHKB: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-Y7XJ0TZMyqgHKB);
  --token-Rj41YEKmNyTEsV: #32d74b;
  --plasmic-token-dark-green: var(--token-Rj41YEKmNyTEsV);
  --token-9x4PQCzhL5zmyc: #0a84ff;
  --plasmic-token-dark-blue: var(--token-9x4PQCzhL5zmyc);
  --token-bHxqN74Hz1v93u: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-bHxqN74Hz1v93u);
  --token-we0mPR4P46NlL9: #34c759;
  --plasmic-token-light-green: var(--token-we0mPR4P46NlL9);
  --token-mAG_RRY08UdvlA: #5856d6;
  --plasmic-token-light-indigo: var(--token-mAG_RRY08UdvlA);
  --token-S2wuWjzjyh-MJa: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-S2wuWjzjyh-MJa);
  --token-S2wuWjzjyh-MJa: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-S2wuWjzjyh-MJa);
  --token-HRB-ZtG6aET-Ad: 1240px;
  --plasmic-token-max-width-navbar: var(--token-HRB-ZtG6aET-Ad);
  --token-HRB-ZtG6aET-Ad: 1240px;
  --plasmic-token-max-width-navbar: var(--token-HRB-ZtG6aET-Ad);
  --token-GK2YrkJhabQUkR: var(--token-uXDOVLg6d3awnU);
  --plasmic-token-unnamed-style-token-2: var(--token-GK2YrkJhabQUkR);
  --token-GK2YrkJhabQUkR: var(--token-uXDOVLg6d3awnU);
  --plasmic-token-unnamed-style-token-2: var(--token-GK2YrkJhabQUkR);
  --token-uXDOVLg6d3awnU: #eeeeee80;
  --plasmic-token-grey: var(--token-uXDOVLg6d3awnU);
  --token-uXDOVLg6d3awnU: #eeeeee80;
  --plasmic-token-grey: var(--token-uXDOVLg6d3awnU);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-KEuRFQmYw5qL8l_font-family: "Montserrat", sans-serif;
  --mixin-KEuRFQmYw5qL8l_font-size: 24px;
  --mixin-KEuRFQmYw5qL8l_font-weight: 500;
  --mixin-KEuRFQmYw5qL8l_font-style: normal;
  --mixin-KEuRFQmYw5qL8l_color: #00000080;
  --mixin-KEuRFQmYw5qL8l_text-align: left;
  --mixin-KEuRFQmYw5qL8l_text-transform: none;
  --mixin-KEuRFQmYw5qL8l_line-height: 1.5;
  --mixin-KEuRFQmYw5qL8l_letter-spacing: normal;
  --mixin-KEuRFQmYw5qL8l_white-space: pre-wrap;
  --mixin-KEuRFQmYw5qL8l_user-select: text;
  --mixin-KEuRFQmYw5qL8l_text-decoration-line: none;
  --mixin-KEuRFQmYw5qL8l_text-overflow: clip;
  --mixin-KQudmOs4jWBE_v_white-space: pre-wrap;
  --mixin-LVWxaYbtnMdtUJ_font-family: "Montserrat", sans-serif;
  --mixin-LVWxaYbtnMdtUJ_color: #ffffff;
  --mixin-LVWxaYbtnMdtUJ_font-size: 72px;
  --mixin-LVWxaYbtnMdtUJ_font-weight: 700;
  --mixin-LVWxaYbtnMdtUJ_line-height: 88px;
  --mixin-LVWxaYbtnMdtUJ_white-space: pre-wrap;
  --mixin--3DCjO-5qSe9pb_font-family: "Inter", sans-serif;
  --mixin--3DCjO-5qSe9pb_color: #000000;
  --mixin--3DCjO-5qSe9pb_font-size: 36px;
  --mixin--3DCjO-5qSe9pb_font-weight: 700;
  --mixin--3DCjO-5qSe9pb_line-height: 43px;
  --mixin--3DCjO-5qSe9pb_text-align: center;
  --mixin--3DCjO-5qSe9pb_white-space: pre-wrap;
  --mixin-2cTpz8_3ir7-Aj_font-family: "Inter", sans-serif;
  --mixin-2cTpz8_3ir7-Aj_color: #000000;
  --mixin-2cTpz8_3ir7-Aj_font-size: 24px;
  --mixin-2cTpz8_3ir7-Aj_font-weight: 600;
  --mixin-2cTpz8_3ir7-Aj_letter-spacing: -0.5px;
  --mixin-2cTpz8_3ir7-Aj_line-height: 1.3;
  --mixin-2cTpz8_3ir7-Aj_white-space: pre-wrap;
  --mixin-Vz8zGckAzg0yux_font-family: "Montserrat", sans-serif;
  --mixin-Vz8zGckAzg0yux_color: #185adb;
  --mixin-Vz8zGckAzg0yux_font-size: 24px;
  --mixin-Vz8zGckAzg0yux_font-weight: 700;
  --mixin-Vz8zGckAzg0yux_line-height: 29px;
  --mixin-Vz8zGckAzg0yux_text-align: center;
  --mixin-Vz8zGckAzg0yux_white-space: pre-wrap;
  --mixin-F_jTxAxRBl4agY_font-family: "Inter", sans-serif;
  --mixin-F_jTxAxRBl4agY_color: #000000;
  --mixin-F_jTxAxRBl4agY_font-size: 16px;
  --mixin-F_jTxAxRBl4agY_font-weight: 600;
  --mixin-F_jTxAxRBl4agY_line-height: 1.5;
  --mixin-F_jTxAxRBl4agY_white-space: pre-wrap;
  --mixin-h0qzF0LUR9DapX_border-left-color: #dddddd;
  --mixin-h0qzF0LUR9DapX_border-left-style: solid;
  --mixin-h0qzF0LUR9DapX_border-left-width: 3px;
  --mixin-h0qzF0LUR9DapX_color: #888888;
  --mixin-h0qzF0LUR9DapX_padding-left: 10px;
  --mixin-h0qzF0LUR9DapX_white-space: pre-wrap;
  --mixin-RLPEv--mzAUc96_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-RLPEv--mzAUc96_border-bottom-color: #dddddd;
  --mixin-RLPEv--mzAUc96_border-bottom-style: solid;
  --mixin-RLPEv--mzAUc96_border-bottom-width: 1px;
  --mixin-RLPEv--mzAUc96_border-left-color: #dddddd;
  --mixin-RLPEv--mzAUc96_border-left-style: solid;
  --mixin-RLPEv--mzAUc96_border-left-width: 1px;
  --mixin-RLPEv--mzAUc96_border-right-color: #dddddd;
  --mixin-RLPEv--mzAUc96_border-right-style: solid;
  --mixin-RLPEv--mzAUc96_border-right-width: 1px;
  --mixin-RLPEv--mzAUc96_border-top-color: #dddddd;
  --mixin-RLPEv--mzAUc96_border-top-style: solid;
  --mixin-RLPEv--mzAUc96_border-top-width: 1px;
  --mixin-RLPEv--mzAUc96_border-bottom-left-radius: 3px;
  --mixin-RLPEv--mzAUc96_border-bottom-right-radius: 3px;
  --mixin-RLPEv--mzAUc96_border-top-left-radius: 3px;
  --mixin-RLPEv--mzAUc96_border-top-right-radius: 3px;
  --mixin-RLPEv--mzAUc96_font-family: "Inconsolata";
  --mixin-RLPEv--mzAUc96_padding-bottom: 1px;
  --mixin-RLPEv--mzAUc96_padding-left: 4px;
  --mixin-RLPEv--mzAUc96_padding-right: 4px;
  --mixin-RLPEv--mzAUc96_padding-top: 1px;
  --mixin-RLPEv--mzAUc96_white-space: pre-wrap;
  --mixin-h1BgA9a8U6rNgf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-h1BgA9a8U6rNgf_border-bottom-color: #dddddd;
  --mixin-h1BgA9a8U6rNgf_border-bottom-style: solid;
  --mixin-h1BgA9a8U6rNgf_border-bottom-width: 1px;
  --mixin-h1BgA9a8U6rNgf_border-left-color: #dddddd;
  --mixin-h1BgA9a8U6rNgf_border-left-style: solid;
  --mixin-h1BgA9a8U6rNgf_border-left-width: 1px;
  --mixin-h1BgA9a8U6rNgf_border-right-color: #dddddd;
  --mixin-h1BgA9a8U6rNgf_border-right-style: solid;
  --mixin-h1BgA9a8U6rNgf_border-right-width: 1px;
  --mixin-h1BgA9a8U6rNgf_border-top-color: #dddddd;
  --mixin-h1BgA9a8U6rNgf_border-top-style: solid;
  --mixin-h1BgA9a8U6rNgf_border-top-width: 1px;
  --mixin-h1BgA9a8U6rNgf_border-bottom-left-radius: 3px;
  --mixin-h1BgA9a8U6rNgf_border-bottom-right-radius: 3px;
  --mixin-h1BgA9a8U6rNgf_border-top-left-radius: 3px;
  --mixin-h1BgA9a8U6rNgf_border-top-right-radius: 3px;
  --mixin-h1BgA9a8U6rNgf_font-family: "Inconsolata";
  --mixin-h1BgA9a8U6rNgf_padding-bottom: 3px;
  --mixin-h1BgA9a8U6rNgf_padding-left: 6px;
  --mixin-h1BgA9a8U6rNgf_padding-right: 6px;
  --mixin-h1BgA9a8U6rNgf_padding-top: 3px;
  --mixin-h1BgA9a8U6rNgf_white-space: pre-wrap;
  --mixin-MU8tLYTaRkjC12_display: flex;
  --mixin-MU8tLYTaRkjC12_flex-direction: column;
  --mixin-MU8tLYTaRkjC12_align-items: stretch;
  --mixin-MU8tLYTaRkjC12_justify-content: flex-start;
  --mixin-MU8tLYTaRkjC12_list-style-position: outside;
  --mixin-MU8tLYTaRkjC12_padding-left: 40px;
  --mixin-MU8tLYTaRkjC12_position: relative;
  --mixin-MU8tLYTaRkjC12_list-style-type: decimal;
  --mixin-MU8tLYTaRkjC12_white-space: pre-wrap;
  --mixin-Bcm2cOWujgCmb0_display: flex;
  --mixin-Bcm2cOWujgCmb0_flex-direction: column;
  --mixin-Bcm2cOWujgCmb0_align-items: stretch;
  --mixin-Bcm2cOWujgCmb0_justify-content: flex-start;
  --mixin-Bcm2cOWujgCmb0_list-style-position: outside;
  --mixin-Bcm2cOWujgCmb0_padding-left: 40px;
  --mixin-Bcm2cOWujgCmb0_position: relative;
  --mixin-Bcm2cOWujgCmb0_list-style-type: disc;
  --mixin-Bcm2cOWujgCmb0_white-space: pre-wrap;
  --mixin-AsGiF0cUdD40ej_color: #000000;
  --mixin-AsGiF0cUdD40ej_font-family: "Montserrat", sans-serif;
  --mixin-AsGiF0cUdD40ej_font-size: 64px;
  --mixin-AsGiF0cUdD40ej_font-weight: 700;
  --mixin-AsGiF0cUdD40ej_line-height: 78px;
  --mixin-AsGiF0cUdD40ej_text-align: center;
  --mixin-AsGiF0cUdD40ej_white-space: pre-wrap;
  --mixin-RpdNxqhXsWi0Dy_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-KEuRFQmYw5qL8l_font-size: 16px;
    --mixin-KEuRFQmYw5qL8l_line-height: 27px;
    --mixin-KEuRFQmYw5qL8l_white-space: pre-wrap;
    --mixin-LVWxaYbtnMdtUJ_font-size: 40px;
    --mixin-LVWxaYbtnMdtUJ_line-height: 48px;
    --mixin-LVWxaYbtnMdtUJ_white-space: pre-wrap;
    --mixin-AsGiF0cUdD40ej_font-size: 28px;
    --mixin-AsGiF0cUdD40ej_line-height: 34px;
    --mixin-AsGiF0cUdD40ej_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-gyfOxeKqKt3y8d_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-gyfOxeKqKt3y8d_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-KEuRFQmYw5qL8l_font-family);
  font-size: var(--mixin-KEuRFQmYw5qL8l_font-size);
  font-weight: var(--mixin-KEuRFQmYw5qL8l_font-weight);
  font-style: var(--mixin-KEuRFQmYw5qL8l_font-style);
  color: var(--mixin-KEuRFQmYw5qL8l_color);
  text-align: var(--mixin-KEuRFQmYw5qL8l_text-align);
  text-transform: var(--mixin-KEuRFQmYw5qL8l_text-transform);
  line-height: var(--mixin-KEuRFQmYw5qL8l_line-height);
  letter-spacing: var(--mixin-KEuRFQmYw5qL8l_letter-spacing);
  white-space: var(--mixin-KEuRFQmYw5qL8l_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-LVWxaYbtnMdtUJ_font-family);
  color: var(--mixin-LVWxaYbtnMdtUJ_color);
  font-size: var(--mixin-LVWxaYbtnMdtUJ_font-size);
  font-weight: var(--mixin-LVWxaYbtnMdtUJ_font-weight);
  line-height: var(--mixin-LVWxaYbtnMdtUJ_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin--3DCjO-5qSe9pb_font-family);
  color: var(--mixin--3DCjO-5qSe9pb_color);
  font-size: var(--mixin--3DCjO-5qSe9pb_font-size);
  font-weight: var(--mixin--3DCjO-5qSe9pb_font-weight);
  line-height: var(--mixin--3DCjO-5qSe9pb_line-height);
  text-align: var(--mixin--3DCjO-5qSe9pb_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-2cTpz8_3ir7-Aj_font-family);
  color: var(--mixin-2cTpz8_3ir7-Aj_color);
  font-size: var(--mixin-2cTpz8_3ir7-Aj_font-size);
  font-weight: var(--mixin-2cTpz8_3ir7-Aj_font-weight);
  letter-spacing: var(--mixin-2cTpz8_3ir7-Aj_letter-spacing);
  line-height: var(--mixin-2cTpz8_3ir7-Aj_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-Vz8zGckAzg0yux_font-family);
  color: var(--mixin-Vz8zGckAzg0yux_color);
  font-size: var(--mixin-Vz8zGckAzg0yux_font-size);
  font-weight: var(--mixin-Vz8zGckAzg0yux_font-weight);
  line-height: var(--mixin-Vz8zGckAzg0yux_line-height);
  text-align: var(--mixin-Vz8zGckAzg0yux_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-F_jTxAxRBl4agY_font-family);
  color: var(--mixin-F_jTxAxRBl4agY_color);
  font-size: var(--mixin-F_jTxAxRBl4agY_font-size);
  font-weight: var(--mixin-F_jTxAxRBl4agY_font-weight);
  line-height: var(--mixin-F_jTxAxRBl4agY_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-h0qzF0LUR9DapX_color);
  padding-left: var(--mixin-h0qzF0LUR9DapX_padding-left);
  border-left: var(--mixin-h0qzF0LUR9DapX_border-left-width)
    var(--mixin-h0qzF0LUR9DapX_border-left-style)
    var(--mixin-h0qzF0LUR9DapX_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-RLPEv--mzAUc96_font-family);
  border-radius: var(--mixin-RLPEv--mzAUc96_border-top-left-radius)
    var(--mixin-RLPEv--mzAUc96_border-top-right-radius)
    var(--mixin-RLPEv--mzAUc96_border-bottom-right-radius)
    var(--mixin-RLPEv--mzAUc96_border-bottom-left-radius);
  padding: var(--mixin-RLPEv--mzAUc96_padding-top)
    var(--mixin-RLPEv--mzAUc96_padding-right)
    var(--mixin-RLPEv--mzAUc96_padding-bottom)
    var(--mixin-RLPEv--mzAUc96_padding-left);
  border-top: var(--mixin-RLPEv--mzAUc96_border-top-width)
    var(--mixin-RLPEv--mzAUc96_border-top-style)
    var(--mixin-RLPEv--mzAUc96_border-top-color);
  border-right: var(--mixin-RLPEv--mzAUc96_border-right-width)
    var(--mixin-RLPEv--mzAUc96_border-right-style)
    var(--mixin-RLPEv--mzAUc96_border-right-color);
  border-bottom: var(--mixin-RLPEv--mzAUc96_border-bottom-width)
    var(--mixin-RLPEv--mzAUc96_border-bottom-style)
    var(--mixin-RLPEv--mzAUc96_border-bottom-color);
  border-left: var(--mixin-RLPEv--mzAUc96_border-left-width)
    var(--mixin-RLPEv--mzAUc96_border-left-style)
    var(--mixin-RLPEv--mzAUc96_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-h1BgA9a8U6rNgf_font-family);
  border-radius: var(--mixin-h1BgA9a8U6rNgf_border-top-left-radius)
    var(--mixin-h1BgA9a8U6rNgf_border-top-right-radius)
    var(--mixin-h1BgA9a8U6rNgf_border-bottom-right-radius)
    var(--mixin-h1BgA9a8U6rNgf_border-bottom-left-radius);
  padding: var(--mixin-h1BgA9a8U6rNgf_padding-top)
    var(--mixin-h1BgA9a8U6rNgf_padding-right)
    var(--mixin-h1BgA9a8U6rNgf_padding-bottom)
    var(--mixin-h1BgA9a8U6rNgf_padding-left);
  border-top: var(--mixin-h1BgA9a8U6rNgf_border-top-width)
    var(--mixin-h1BgA9a8U6rNgf_border-top-style)
    var(--mixin-h1BgA9a8U6rNgf_border-top-color);
  border-right: var(--mixin-h1BgA9a8U6rNgf_border-right-width)
    var(--mixin-h1BgA9a8U6rNgf_border-right-style)
    var(--mixin-h1BgA9a8U6rNgf_border-right-color);
  border-bottom: var(--mixin-h1BgA9a8U6rNgf_border-bottom-width)
    var(--mixin-h1BgA9a8U6rNgf_border-bottom-style)
    var(--mixin-h1BgA9a8U6rNgf_border-bottom-color);
  border-left: var(--mixin-h1BgA9a8U6rNgf_border-left-width)
    var(--mixin-h1BgA9a8U6rNgf_border-left-style)
    var(--mixin-h1BgA9a8U6rNgf_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-MU8tLYTaRkjC12_display);
  flex-direction: var(--mixin-MU8tLYTaRkjC12_flex-direction);
  align-items: var(--mixin-MU8tLYTaRkjC12_align-items);
  justify-content: var(--mixin-MU8tLYTaRkjC12_justify-content);
  list-style-position: var(--mixin-MU8tLYTaRkjC12_list-style-position);
  padding-left: var(--mixin-MU8tLYTaRkjC12_padding-left);
  position: var(--mixin-MU8tLYTaRkjC12_position);
  list-style-type: var(--mixin-MU8tLYTaRkjC12_list-style-type);
  flex-column-gap: var(--mixin-MU8tLYTaRkjC12_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Bcm2cOWujgCmb0_display);
  flex-direction: var(--mixin-Bcm2cOWujgCmb0_flex-direction);
  align-items: var(--mixin-Bcm2cOWujgCmb0_align-items);
  justify-content: var(--mixin-Bcm2cOWujgCmb0_justify-content);
  list-style-position: var(--mixin-Bcm2cOWujgCmb0_list-style-position);
  padding-left: var(--mixin-Bcm2cOWujgCmb0_padding-left);
  position: var(--mixin-Bcm2cOWujgCmb0_position);
  list-style-type: var(--mixin-Bcm2cOWujgCmb0_list-style-type);
  flex-column-gap: var(--mixin-Bcm2cOWujgCmb0_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-AsGiF0cUdD40ej_color);
  font-family: var(--mixin-AsGiF0cUdD40ej_font-family);
  font-size: var(--mixin-AsGiF0cUdD40ej_font-size);
  font-weight: var(--mixin-AsGiF0cUdD40ej_font-weight);
  line-height: var(--mixin-AsGiF0cUdD40ej_line-height);
  text-align: var(--mixin-AsGiF0cUdD40ej_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
