.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: center;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    padding: 32px;
  }
}
.freeBox__hHGy1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: var(--token-HRB-ZtG6aET-Ad);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  min-width: 0;
  min-height: 0;
}
.freeBox__hHGy1 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hHGy1 > :global(.__wab_flex-container) > *,
.freeBox__hHGy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hHGy1 > :global(.__wab_flex-container) > picture > img,
.freeBox__hHGy1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__hHGy1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: var(--token-HRB-ZtG6aET-Ad);
  padding-top: 52px;
  padding-bottom: 52px;
  height: 100%;
  max-height: 154px;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hHGy1 {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hHGy1 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    min-height: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hHGy1 > :global(.__wab_flex-container) > *,
  .freeBox__hHGy1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hHGy1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__hHGy1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hHGy1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 0px;
    max-height: 500px;
    height: 100%;
    min-height: 0;
  }
}
.logo:global(.__wab_instance) {
  display: flex;
}
.freeBox__fFt7O {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__fFt7O > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__fFt7O > :global(.__wab_flex-container) > *,
.freeBox__fFt7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fFt7O > :global(.__wab_flex-container) > picture > img,
.freeBox__fFt7O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__fFt7O {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fFt7O > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fFt7O > :global(.__wab_flex-container) > *,
  .freeBox__fFt7O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fFt7O > :global(.__wab_flex-container) > picture > img,
  .freeBox__fFt7O
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fFt7O {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.button__fC36T:global(.__wab_instance) {
  position: relative;
}
.svg__mx09P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ueWqg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qYkUa:global(.__wab_instance) {
  position: relative;
}
.svg__sL5Xy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7Iuy2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vPmx:global(.__wab_instance) {
  position: relative;
}
.svg__gelYk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___39Adi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__vRny:global(.__wab_instance) {
  position: relative;
}
.svg__eICqy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sXdw2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__yR8Gj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button__zoizB:global(.__wab_instance) {
  position: relative;
}
.svg__dwhAl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4ERXl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__iBwcf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k8P5R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__amv98 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
