.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__j8Zy6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__j8Zy6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - var(--token-oBzPX0VptNrj));
  height: calc(100% + var(--token-oBzPX0VptNrj));
}
.freeBox__j8Zy6 > :global(.__wab_flex-container) > *,
.freeBox__j8Zy6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j8Zy6 > :global(.__wab_flex-container) > picture > img,
.freeBox__j8Zy6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-oBzPX0VptNrj);
}
.freeBox__j8Zy6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.img__fOmtU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 100%;
}
.img__fOmtU > picture > img {
  object-fit: cover;
}
.img__fOmtU > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__lw8Jh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__vKIiV {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetSlot {
  color: var(--token-EAArFgEufoUBI5);
  font-size: var(--token-T8AeDz5hzyXq);
  font-weight: 700;
  text-align: center;
}
.freeBox__o0YSz {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
}
.slotTargetSlot2 {
  color: var(--token-EAArFgEufoUBI5);
  text-align: center;
}
.freeBox__brFw6 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: var(--token-gcawmjNjEp6H);
  margin-top: var(--token-gcawmjNjEp6H);
}
.slotTargetChildren {
  color: var(--token-GfPTqb88XTO8F-);
  font-size: var(--token-zXuA2tUoppBp);
}
