.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__auhiA {
  display: flex;
  position: relative;
  max-width: var(--token-MdAT2EcXuYl7B3);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__auhiA > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__auhiA > :global(.__wab_flex-container) > *,
.freeBox__auhiA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__auhiA > :global(.__wab_flex-container) > picture > img,
.freeBox__auhiA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
.freeBox__auhiA {
  display: flex;
  position: relative;
  max-width: var(--token-MdAT2EcXuYl7B3);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__auhiA {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__auhiA > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__auhiA > :global(.__wab_flex-container) > *,
  .freeBox__auhiA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__auhiA > :global(.__wab_flex-container) > picture > img,
  .freeBox__auhiA
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__auhiA {
    display: flex;
    flex-direction: column;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nWwHh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__nWwHh {
    justify-content: center;
  }
}
.freeBox__eqRmi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text___18POt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___18POt {
    text-align: center;
  }
}
.freeBox___7Lj3W {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___7Lj3W {
    align-self: center;
    justify-content: center;
  }
}
.svg__iHVcT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__vJns {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__wtP8B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg___8ZTN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__hZsHj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__hZsHj {
    justify-content: center;
  }
}
.h4__fXT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__fXT {
    text-align: center;
  }
}
.button__rzNzp:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rzNzp:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wRnUw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__sbufR {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__sbufR {
    text-align: center;
  }
}
.svg__vvVPp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tNom:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tNom:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__mcVqY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__j0Rxo {
  color: #92959b;
}
.svg__ga0C7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__slzL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__slzL:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__eNlhF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bjVXo {
  color: #92959b;
}
.svg__tgHxB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__zCb6Q:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__zCb6Q:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__w7Bn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1Xcbf {
  color: #92959b;
}
.svg__z52R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__f6EvW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__f6EvW {
    justify-content: center;
  }
}
.h4__afPvM {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__afPvM {
    align-self: center;
    text-align: center;
  }
}
.button__wwap0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wwap0:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__zN4F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rMsJr {
  color: #92959b;
}
.svg__rwnV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hauum:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__hauum:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__nKu0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__s1Wd {
  color: #92959b;
}
.svg__oCpIa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__edLgB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__edLgB {
    justify-content: center;
  }
}
.h4__o3NF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__o3NF {
    align-self: center;
    text-align: center;
  }
}
.button__g8HRh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__g8HRh:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ga4Yd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yokfb {
  color: #92959b;
}
.svg__tiTz9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___7SL9T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___7SL9T:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__w7Eg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nsfVt {
  color: #92959b;
}
.svg__wgmnh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__p0203:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__p0203:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__y83B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__b3Rm {
  color: #92959b;
}
.svg___2CetS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__rrHar {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__fOiAo {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fOiAo {
    padding-top: 129px;
  }
}
